<p id="notice"><%= notice %></p>

<p>
  <b>Original url:</b>
  <%= @url.original_url %>
</p>

<p>
  <b>Short url:</b>
  <%= @url.short_url %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
